<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
</head>
<body>
<h1>{{survey.name}}</h1>
<p class="mb-5">{{survey.description}}</p>
<p class="mt-3">
    <form method="post">{% csrf_token %}
            {% for question in questions %}
                <h3>{{question.name}}</h3>
                <p>
                {% if question.variants == Null %}
                    <input type="text">
                {% elif question.multiple_choice %}
                        {% for variant in question.variants %}
                            <input type="radio" name="{{variant}}">{{variant}}<br>
                        {% endfor %}
                    </input>
                {% else %}
                    <select id="variant">
                        {% for variant in question.variants %}
                            <option>{{variant}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                </p>
            {% endfor %}
        <button type="submit">Отправить ответ</button>
    </form>
</p>
</body>
</html>